<ul class="nav nav-tabs">
  <li role="presentation"><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
  <li role="presentation"><a [routerLink]="['games']" routerLinkActive="active">Games</a></li>
  <li role="presentation"><a [routerLink]="['about']" routerLinkActive="active">Forms</a></li>
  <li role="presentation"><a [routerLink]="['users']" routerLinkActive="active">Users</a></li>
  <li role="presentation"><a [routerLink]="['lazy']" routerLinkActive="active">Lazy Load</a></li>
  <li role="presentation"><a [routerLink]="['login']" routerLinkActive="active">Login</a></li>
</ul>
